
@font-face{
 font-family:"Pathway Gothic One"; 
 font-style: normal;
 font-weight:400; 
src:url(PathwayGothicOne-Regular.ttf);}
 
@font-face{ 
  font-family: "Nuaz";
  font-style: normal;
  font-weight: 400;
  src:url(Nuaz.otf);}

@font-face{ 
  font-family: "Bold";
  font-style: normal;
  font-weight: 400;
  src: url(texgyrebonum-bold.otf);}

 

$primary-color: #ffff;
$hover-color: #cccc;
$page-color: #000000;

.nav-item {
color:$primary-color;
text-decoration: none;
align-items: center;
margin:0;
padding :0;
font-family: Pathway Gothic One;
}


.brand-logo {
font-family:"Nuaz";
font-size:5em;
color: $primary-color;
}
.brand-logo:hover {
color:$hover-color;
}

 
.pimg1, .pimg2,.pimg3{
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    }
  .pimg1 {
    background-image: url("../HOME/18160834_253508908457782_7283848940095537152_n.jpg");
     min-height: 500px;  
    }
    .pimg2 {
    background-image: url("../HOME/IMG_5070.jpg");
      min-height: 500px; 
    } 
    .pimg3 {
    background-image: url("../HOME/IMG_5282 (1).jpg");
       min-height: 500px;
   }   
     .section{
     text-align:center;
     padding: 50px 80px;
   }
  
 .section-dark{
      font-family: Bold;
      color:$primary-color;
      background-color: $page-color;

    }
 .footer {
 padding:0.5rem 0;
 text-align:center;
 background-color:$primary-color;
 font-family: Bold;
 color: $page-color;
}







  

    
