 
*{
  margin:0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


 body, html {
   height: 100%;
    margin:0;
    font-size: 16px;
    font-family: "Arial Black", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:#666;
    background:#1C1B1B;
  }
  .pimg1, .pimg2, .pimg3{
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
  }

    .pimg1 {
    background-image: url("../HOME/18160834_253508908457782_7283848940095537152_n.jpg");
    min-height: 400px
   }
    .pimg2 {
    background-image: url("../HOME/IMG_5070.jpg");
    min-height: 400px
   
  }
  .pimg3 {
    background-image: url("../HOME/IMG_5282 (1).jpg");
    min-height: 400px
   
  }
  .section{
    text-align:center;
    padding: 50px 80px;
  }
 .section-dark{
  background-color:#1C1B1B
}
  
 .navegacion{
    width: 500px
    margin:30px auto;
    background:#1C1B1B; 
  }
  .navegacion ul{
  list-style: none;
}
.menu > li{
  position:relative;
  display:inline-block;
}
.menu > li >a{
  display: block;
  padding:15px 20px;
  color:#010101;
  font-family: "Arial";
  text-decoration:none;
}
