
$primary-color: #ffff;
$hover-color: #cccc;
$page-color: #000000;

@font-face{ 
  font-family: "Electric";
  font-style: normal;
  font-weight: 400;
  src:url(Electric.otf);}

@font-face {
  font-family: "PathwayGothicOne";
  font-style: normal;
  font-weight: 400;
  src: url("PathwayGothicOne-Regular.ttf"); }

@font-face {
  font-family: "Bold";
  font-style: normal;
  font-weight: 400;
  src: url("texgyrebonum-bold.otf"); }

  .pimg4, .pimg5{
    position:relative;
     background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
  }
  .brand-logo {
    font-family:"Electric";
    font-size:5em;
    color: $primary-color;
    }
    .brand-logo:hover {
    color:$hover-color;
    }
    
  .nav-item {
    color:$page-color;
    text-decoration: none;
    align-items: center;
    margin:0;
    padding :0;
    font-family: Pathway Gothic One;
    }

 .section-photos{
  background-color:$page-color;
  margin-bottom: 0
 }
    .pimg4 {
    background-image:url("./ezgif.com-gif-maker.gif");
    min-height: 400px
   }
    .pimg5 {
    background-image:url("./Leviathan Original (1).png");
    min-height: 500px
   }
   .section{
    text-align:center;
    padding: 50px 80px;
  }
   .section-photos  {
 text-align:center;
 color:$primary-color;
 font-family: Bold;
}
 .section-grilla{
      font-family: Bold;
      color:$primary-color;
      background-color: #000000;
    }

    .footer{
  padding:0.5rem 0;
  text-align:center;
  background-color:$primary-color;
  font-family: Bold;
    }

